services:
  # Servicio para el Backend (API)
  - type: web
    name: mi-api-backend
    env: docker
    repo: https://github.com/AngelProgramador1/evidencia.git # Asegúrate que esta URL es correcta
    # La ruta correcta desde la raíz del repositorio es 'sistema-inventarios/backend'
    rootDir: ./sistema-inventarios/backend  # <-- RUTA CORREGIDA
    plan: free
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production

  # Servicio para el Frontend (React App)
  - type: web
    name: mi-app-frontend
    env: docker
    repo: https://github.com/AngelProgramador1/evidencia.git # Asegúrate que esta URL es correcta
    # La ruta correcta desde la raíz del repositorio es 'sistema-inventarios/frontend'
    rootDir: ./sistema-inventarios/frontend # <-- RUTA CORREGIDA
    plan: free
    envVars:
      - key: REACT_APP_API_URL
        value: https://mi-api-backend.onrender.com